@charset "utf-8";
@import "./mixin.scss";
@import "./variable";/*引入配置*/
.visaList{
    width: 100%;
    @include bg_color($background-color-theme0);
    padding-top: 0.3rem;
  }
  .visaList ul{
    width: 94%;
    margin: 0 auto;
  }
  .visaList ul li{
    display: flex;
    border-bottom:0.01rem solid rgba(247,247,247,1);
    margin-bottom: 0.5rem;
    padding-bottom: 0.26rem;
  
  }
  .leftImg{
    width: 2.42rem;
    height: 1.8rem;
    margin-right: 0.36rem;
  }
  .rightBox{
    flex-grow: 1;
  }
  h5{
    // font-size: 0.3rem;
    @include font-dpr($font_little_mid2);
    @include font_color($font-color-theme2);
    font-weight: 600;
    margin-bottom: 0.26rem;
  }
  .textBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.14rem;
  }
  .timeBox{
    display: flex;
    margin-bottom: 0.2rem;
  }
  .jianNum{
    color: #9F9F9F;
    font-size: 0.24rem;
  }
  .price{
    font-size: 0.32rem;
    @include font_color($font-color-theme);
  }
  .shiJianIcon{
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.08rem;
  }
  .timeBox span{
    color: #9F9F9F;
    font-size: 0.24rem;
  }
  .biaoQian{
    display: flex;
  }
  .biaoQian span{
      padding: 0 0.12rem;
      background: #F7F7F7;
      font-size: 0.2rem;
      color: #9F9F9F;
      line-height: 0.34rem;
  }