@charset "utf-8";
@import "./mixin.scss";
@import "./variable.scss";/*引入配置*/
@import "./commonStyle.scss";

.selectBox{
    box-shadow:2px 4px 12px 0px rgba(188,188,188,0.2);
    padding: 0.16rem 0;
    position: relative;
    @include bg_color($background-color-theme0);
    .selecTitle{
        width: 94%;
        margin: 0 auto;
        ol{
            display: flex;
            justify-content: space-between;
          }
      }
      .liDiv{
        display: flex;
        margin: 0 auto;
      }
      .liDiv img{
        width: 0.16rem;
        height: 0.1rem;
        margin-top: 0.1rem;
      }
      
      .liDiv span{
        @include font_color($font-color-theme6);
        font-size: 0.28rem;
        margin-right: 0.1rem;
        
      }
      .liDiv span.active{
        @include font_color($font-color-theme);
      }
    
  }
  
  
  
//   更多筛选
.moreBox{
    position: absolute;
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
    z-index: 10;
    background: white;
    top: 0.72rem;
    padding-top: 0.3rem;
    .entryNum{
        padding-bottom: 1.2rem;
    }
    .typeModel,.serviceModel,.entryNum{
        margin-left: 0.24rem;
        h3{
            @include font_color($font-color-theme7);
            @include font-dpr($font_little_mid2);
            font-weight: 600;
        }
        .modelSpan{
            display: flex;
            padding-top: 0.3rem;
            margin-bottom: 0.6rem;
            flex-wrap: wrap;
            span{
                padding:0 0.26rem;
                @include font_color($font-color-theme8);
                @include font-dpr($font_little_mid3);
                line-height: 0.64rem;
                border:1px solid $border-Color1;
                border-radius:7px;
                margin-right: 0.18rem;
                margin-bottom: 0.24rem;
            }
            span.active{
                border:1px solid $border-Color2;
                @include font_color($font-color-theme);
                @include bg_color($background-color-theme2);
            }
            
        }
        
    }
    .footer{
        position: absolute;
        bottom: 0;
        width: 94%;
        left: 0;
        right: 0;
        margin:auto;
        display: flex;
        padding: 0.4rem 0;
        button{
            border:none;
            background: none;
            @include font_color($font-color-theme5);
            @include font-dpr($font_little_mid2);
            line-height: 0.7rem;
            text-align: center;
            border-radius:6px;
        }
        .cancel{
            width: 2.22rem;
            margin-right: 0.3rem;
            @include bg_color($background-color-theme8);
        }
        .sure{
            flex-grow: 1;
            @include btn_yellow()
        }
    }
    
}
// 目的地
.destination{
    position: absolute;
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
    z-index: 10;
    background: white;
    top: 0.72rem;
    display: flex;
    .leftBox{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        @include bg_color($background-color-theme6);
        ol{
            width: 100%;
            li{
                width: 100%;
                padding: 0.2rem 0;
                border-bottom: 1px solid $border-Color3;
                span{
                    font-size: 0.28rem;
                    @include font_color($font-color-theme9); 
                    line-height: 0.48rem;
                    text-align: center;
                    border-left: 0.06rem solid transparent;
                }
            }
            li.leftActive{
                @include bg_color($background-color-theme0);
                span{
                    border-left: 0.06rem solid $border-Color2;
                    @include font_color($font-color-theme); 
                }

            }
        }
    }
    .leftBoxActive{
        width: 40%;
    }
    .rightBox{
        flex-grow: 1;
        ul{
            display: flex;
            flex-wrap: wrap;
            padding-top: 0.4rem;
            margin-left: 0.7rem;
            li{
                padding:0 0.26rem;
                @include font_color($font-color-theme8);
                @include font-dpr($font_little_mid3);
                line-height: 0.64rem;
                border:1px solid $border-Color1;
                border-radius:7px;
                margin-right: 0.18rem;
                margin-bottom: 0.24rem;
            }
            li.cityActive{
                border:1px solid $border-Color2;
                @include font_color($font-color-theme);
                @include bg_color($background-color-theme2);
            }
        }
    }
}

// 常住地
.usualBox{
    position: absolute;
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
    z-index: 10;
    background: white;
    top: 0.72rem;
    h3{
        @include font_color($font-color-theme7);
        @include font-dpr($font_little_mid2);
        font-weight: 600;
        margin-left: 0.26rem;
        padding: 0.3rem 0;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0.26rem;
        li{
            padding:0 0.26rem;
            @include font_color($font-color-theme8);
            @include font-dpr($font_little_mid3);
            line-height: 0.64rem;
            border:1px solid $border-Color1;
            border-radius:7px;
            margin-right: 0.18rem;
            margin-bottom: 0.24rem;
        }
        li.cityActive{
            border:1px solid $border-Color2;
            @include font_color($font-color-theme);
            @include bg_color($background-color-theme2);
        }
    }
}

// 排序
.sortBox{
    position: absolute;
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
    z-index: 10;
    background: white;
    top: 0.72rem;
    ul{
        width: 100%;
        li{
            @include font_color($font-color-theme7);
            @include font-dpr($font_little_mid4);
            line-height: 0.8rem;
            text-align: center;
        }
        li.sortActive{
            @include font_color($font-color-theme);
        }
    }
}